@import url('common.css');

body  {
	background-color:#F1F1FF;
	margin: 0;
	text-align: center;
}

body, table, p {
	font-family: 'Open Sans', Arial;
	font-size: 10pt;
}

table, div, span {
	text-align: left;
}

.centered-canvas {
	margin: 0 auto;
	width:930px;
	text-align: left;
}

.master-layout {
	height: 100%;
	margin-top: 55px;
}

.master-header {
	background: url(../img/header-bg.png) repeat-x 0 0;
	color: #fff;
	position: fixed;
	top: 0; left: 0; right: 0;
	height: 45px;
	z-index: 1000;
}

.master-header a {
	color: #fff;
	text-decoration: none;
}

p { line-height: 1.6em; }

.master-content {
	clear: both;
}

.master-footer {
	clear: both;
	padding: 30px 0 10px 0;
	text-align: left;
}

.master-footer .copyright { text-align: left; }

.navbar td {
	padding:2px 15px;
}

.navbar a {}
.navbar .selected {
	background-color: #6be325;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.navbar .selected a { color: #333; }

.navbar .gap {
	width:0;
	padding: 0;
}

.page-title {
	font-size: 20pt;
}

.job-title {
	display: inline-block;
	line-height: 36px;
	height: 36px;
	padding: 0 5px;
}

.job-title.expanded {
	background: #002800;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
}
.dropdownmenu {
	background: #002800;
	box-shadow: 0 1px 5px #333;
	padding: 5px 1px 0 1px;
	border: none;
	border-radius: 0 0 4px 4px;
}
.dropdownmenu a {
	float:left;
	width: 100%;
	padding: 3px 3px;
}

.dropdownmenu a:hover {
	background: #373F37;
}

/*====== grid ========*/
table.grid {
	border: solid 1px #ccc;
	margin: 5px 0;
}

table.grid th, table.grid td {
	padding: 4px 8px; 
}

table.grid th,
table.grid thead td {
	border-bottom: solid 1px #ccc;
	background: #efefef;
	background: -moz-linear-gradient(top,#fff 0,#e0e0e0 100%);
	background: -ms-linear-gradient(top,#fff 0,#e0e0e0 100%);
	background: -o-linear-gradient(top,#fff 0,#e0e0e0 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fff),color-stop(100%,#e0e0e0));
	background: -webkit-linear-gradient(top,#fff 0,#e0e0e0 100%);
	background: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.25),inset 0 0 3px #fff;
	-ms-box-shadow: 0 1px 2px rgba(0,0,0,0.25),inset 0 0 3px #fff;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.25),inset 0 0 3px #fff;
	box-shadow: 0 1px 2px rgba(0,0,0,0.25),inset 0 0 3px #fff;
}

table.grid td {
	border-bottom: solid 1px #ccc;
}

div.grid-controls {
	text-align: right;
}


