etracsplatform/build/*
etracsplatform/main/build/*
etracsplatform/rameses-updates/build/*
etracsplatform/.terminal
etracsplatform/client.conf
etracsplatform/osiris2/modules/*
etracsplatform/dist/etracs2.zip
etracsplatform/reports/*


client/*/build
client/*/dist
client/*/nbproject/private









