etracsplatform/build/*
etracsplatform/main/build/*
etracsplatform/rameses-updates/build/*
etracsplatform/.terminal
etracsplatform/client.conf
etracsplatform/osiris2/*
etracsplatform/dist/etracs2.zip
etracsplatform/reports/*
etracsplatform/web-cache/*
etracsplatform/http.client/build/*


client/*/build
client/*/dist
client/*/nbproject/private









