html {
	height:100%;
}
body  {
	background-color: #ffffff;
	margin: 0;
	margin-left: 200px;
	font-family: 'Open Sans', Arial;
	font-size: 11;
	height: 100%;
}
.inbox-layout {
	width:80%;
	height: 100%;
}
.inbox-header {
	height: 20px;
	vertical-align: top;
	border-bottom: 1px solid lightgrey;	
}
.inbox-footer {
	height: 20px;
}
.inbox-sidebar {
	padding-top:10px;
	width: 200px;
}
.inbox-content {
	padding-top:10px;
	vertical-align:top;
}
.page-title {
	font-size: 20pt;
}